<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="tychons_reindex_all" xsi:type="object">Tychons\Reindex\Console\Command\ReindexAllCommand</item>
            </argument>
        </arguments>
    </type>
</config>
