<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Block\Cache\Additional">
        <plugin name="vendor_module_cache_management_button" type="Tychons\Button\Plugin\AddCacheButton"/>
    </type>
</config>
